@view-transition {
	navigation: auto;
}

.pindent p {
	text-indent: 4ch;
}

.right p {
	text-align: right;
}

@font-face {
  font-family: "Lora";
  src: url("/assets/Lora/Lora-VariableFont_wght.ttf") format("truetype");
}

body {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: Lora;
}
a:link,a:visited {
		color: #006edc;
}
@media (prefers-color-scheme: dark) {
	a:link,a:visited {
		color: #15ad93;
	}
}
aside{
	padding: 5px;
}

@media only screen and (min-width: 180ch) {
	aside {
		position: absolute;
		top: 2rem;
		left: 105%;
		width: 40ch;
	}
	aside > details {
		border-radius: 0.5rem; padding: 0.5rem; color: #030313;
		background-color: #ffd289;
	}

	@media (prefers-color-scheme: dark) {
		aside > details {
			background-color: #d5d3bf;
		}
	}
}

